<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About Us</h2>
  <p>
    Cats Agents is a web site that we can found information.
  </p>
    {{#link-to 'contact' class="button"}}
    Contract Now!
  {{/link-to}}
</div>
{{outlet}}
