<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Contact Us</h2>
  <p>Welcom to Cats War!.<br>Llámanos o escríbenos y realiza la preguntas que desees.</p>
  <p>
    Agents Cats HD
    <address>
      Universidad de Antioquia<br>
      Medellín
    </address>
    <a href="tel:57.3125077894">(57) 3125077894</a><br>
    <a href="mailto:agent@Catswars.com">agents@Catswars.com</a>
  </p>
 {{#link-to 'about' class="button"}}
    About Us
  {{/link-to}}
</div>
{{outlet}}
